// Layout
$website-max-width: 1440px;

$breakpoint-tablet: 800px;
$breakpoint-desktop: 1150px;

$container-padding-mobile: 2.8rem;
$container-padding-tablet: 8rem;
$container-padding-desktop: 26rem;

// Font
$font-name: 'Mulish', sans-serif;

// Colors
$color-default: #080809;
$color-primary: #EE325C;
$color-secondary: #FFF;
$border-color: #D6D8DD;

$button-radius: .8rem;

$header-gradient: linear-gradient(159deg, #3D2E80 51.38%, #DC1969 125.72%);
$footer-gradient: linear-gradient(143deg, #3D2E80 38.81%, #DC1969 112.05%);