// mobile layout
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  height: 43.3rem;
  background-image: $footer-gradient;

  .banner-heading {
    max-width: 28rem;
    font-size: 2.4rem;
    line-height: 3.4rem;
  }

  .footer__contact-section {
    display: flex;
    flex-direction: column;
  }

  // tablet layout
  @media (min-width: $breakpoint-tablet) {

    .banner-heading {
      max-width: 40rem;
      font-size: 3rem;
      line-height: 4rem;
    }

  }

  @media (min-width: 1000px) {

    .footer__contact-section {
      flex-direction: row;
      gap: 3rem;
    }

  }

  // desktop layout
  @media (min-width: $breakpoint-desktop) {
    height: 71.3rem;

    .banner-heading {
      max-width: 65.6rem;
      font-size: 4.8rem;
      line-height: 6rem;
    }

    .footer__image {
      width: 275px;
      height: 45px;
    }
  }
}