// mobile layout
.main__intro-section {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 5rem;
  margin-bottom: 9rem;

  .main__figure {
    text-align: center;
  }

  .list,
  .button {
    align-self: center;
  }

  .line {
    width: 130px;
  }
}

.main__reviews-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
  margin-bottom: 7rem;
}

.main__goals-section {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-bottom: 5rem;

  .main__goals-list {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  .line {
    width: 170px;
  }
}

.main__prefooter-section {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 5rem;

  .list,
  .button {
    align-self: center;
  }

  .line {
    width: 230px;
  }
}

// tablet layout
@media (min-width: $breakpoint-tablet) {

  .main__intro-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 15rem;

    .main__figure {
      text-align: left;
      grid-column: 2 / 3;
    }

    .main-heading {
      grid-row: 1 / 2;
    }

    .paragraph:first-of-type {
      align-self: center;
    }

    .button {
      align-self: end;
    }
  }

  .main__reviews-section {
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 10rem;
  }

  .main__goals-section {
    gap: 12rem;
    margin-bottom: 12rem;

    .main-heading {
      max-width: 60rem;
      text-align: center;
      align-self: center;
    }
  }

  .main__prefooter-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 2rem;

    .button {
      grid-column: 1 / 2;
      align-self: end;
    }

    .list {
      grid-row: 1 / -1;
      grid-column: 2 / 3;
    }

    .paragraph {
      align-self: center;
    }
  }

}

@media (min-width: 1000px) {

  .main__intro-section,
  .main__prefooter-section {
    gap: 4rem;
  }

  .main__reviews-section {
    gap: 4rem;
  }

  .goal-item {
    align-self: flex-start;
  }

  .goal-item--even {
    align-self: flex-end;
  }

}

// desktop layout
@media (min-width: $breakpoint-desktop) {

  .main__intro-section {
    gap: 0 4rem;

    .main__figure {
      margin-top: 2rem;
    }

    .paragraph:first-of-type {
      align-self: end;
    }

    .paragraph:nth-of-type(2) {
      margin-top: 8rem;
    }

    .line {
      width: 200px;
    }
  }

  .main__reviews-section {
    gap: 6rem;
  }

  .main__goals-section {
    .line {
      width: 250px;
    }
  }

  .main__prefooter-section {
    .line {
      width: 345px;
    }
  }

}

@media (min-width: 1350px) {

  .main__intro-section {
    column-gap: 8rem;
  }

  .main__reviews-section {
    gap: 8rem;
  }

  .main__prefooter-section {
    gap: 0 8rem;

    .list {
      grid-row: 2 / -1;
    }

    .paragraph {
      grid-column: 1 / 2;
      align-self: end;
    }
  }

}